{% extends "../base.html" %}

{% block title %}
{{ pageTitle }}
{% endblock title %}

{% block content %}
<div class="row p-3">
    <p class="fs-1 align-middle">Gestion de l'affichage</p>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="clickable">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="Paramètres" class="clickable">Paramètres</li>
        </ol>
    </nav>

</div>
<div class="row">
    {% if perms.ApiServer.view_informations or perms.ApiServer.add_informations %}
    <div class="col-lg-6 col-11 m-3">
        <div class="p-4 border rounded-3">
            <div class="row">
                <h2>Informations :</h2>
            </div>
            <div class="row g-2">
                {% if perms.ApiServer.view_informations %}
                <div class="col-lg-6 col-12">
                    <a href="parametres/informations" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Voir les informations</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% if perms.ApiServer.add_informations %}
                <div class="col-lg-6 col-12">
                    <a href="parametres/informations/ajouter" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Ajouter une information</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if perms.ApiServer.add_surveys or perms.ApiServer.view_surveys %}
    <div class="col-lg-5 col-11 m-3">
        <div class="p-4 border rounded-3">
            <div class="row">
                <h2>Sondages :</h2>
            </div>
            <div class="row g-2">
                {% if perms.ApiServer.add_surveys %}
                <div class="col-lg-6 col-12">
                    <a href="parametres/sondages/ajouter" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Créer un nouveau sondage</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% if perms.ApiServer.view_surveys %}
                <div class="col-lg-6 col-12">
                    <a href="parametres/sondages" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Voir tous les sondages</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if perms.auth.manage_affectation_pages_screens or perms.ApiServer.add_screens or perms.ApiServer.add_pages%}
    <div class="col-lg-6 col-11 m-3">
        <div class="p-4 border rounded-3">
            <div class="row">
                <h2>Ecrans :</h2>
            </div>
            <div class="row g-2">
                {% if perms.auth.manage_affectation_pages_screens %}
                <div class="col-lg-6 col-12">
                    <a href="/parametres/modifierPageEcran" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Modifier les pages attribuées aux écrans</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% if perms.ApiServer.add_screens %}
                <div class="col-lg-6 col-12">
                    <a href="/parametres/ecrans/ajouter" class="clickable">
                        <div class="p-3 border rounded-1">
                            <h5>Ajouter un écran</h5>
                        </div>
                    </a>
                </div>
                {%endif%}
                {% if perms.ApiServer.add_pages %}
                <div class="col-lg-6 col-12">
                    <a href="/parametres/pages/ajouter" class="clickable">
                        <div class="p-3 border rounded-1">
                            <h5>Ajouter une page</h5>
                        </div>
                    </a>
                </div>
                {%endif%}
            </div>  
        </div>
    </div>  
    {%endif%}
</div>
{% endblock content %}