<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{{description}}</title>
</head>
<body>
    <div class="card">
        <div class="container">
            <div class="row">
                <div class="title text-center">
                    <h1 class="fs-2">Menu</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <div class="title">
                            <h1 class="fs-3">Ce midi</h1>
                        </div>
                    </div>
                    <div class="">
                        <ul class="list">                            
                            <li class="list-item">Feuilleté fromage / Concombres / Tomates et Féta / hot dog/rosette </li>
                            <li class="list-item">Bourlettes de boeuf / colin aux fruits de mer </li>
                            <li class="list-item">Riz / Carootes persillées</li>
                            <li class="list-item">eau</li>
                            <li class="list-item">Fromage /Yaourt</li>
                            <li class="list-item">Fruit de saison / Compte pommes cassis / Liégeois</li>
                        </ul>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <div class="row">
                        <div class="title">
                            <h1 class="fs-3">Ce soir</h1>
                        </div>
                    </div>
                    <div class="">
                        <ul class="list">                            
                            <li class="list-item">Feuilleté fromage / Concombres / Tomates et Féta / hot dog/rosette </li>
                            <li class="list-item">Bourlettes de boeuf / colin aux fruits de mer </li>
                            <li class="list-item">Riz / Carootes persillées</li>
                            <li class="list-item">eau</li>
                            <li class="list-item">Fromage /Yaourt</li>
                            <li class="list-item">Fruit de saison / Compte pommes cassis / Liégeois</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>