{% extends "Affichage/pageHeaderFooter.html" %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="container">
            <div class="row">
                <div class="title text-center">
                    <h1 class="fs-2">Menu</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <div class="title">
                            <h1 class="fs-3">Ce midi</h1>
                        </div>
                    </div>
                    <div class="">
                        <ul class="list">                            
                            <li class="list-item">Feuilleté fromage / Concombres / Tomates et Féta / hot dog/rosette </li>
                            <li class="list-item">Bourlettes de boeuf / colin aux fruits de mer </li>
                            <li class="list-item">Riz / Carootes persillées</li>
                            <li class="list-item">eau</li>
                            <li class="list-item">Fromage /Yaourt</li>
                            <li class="list-item">Fruit de saison / Compte pommes cassis / Liégeois</li>
                        </ul>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <div class="row">
                        <div class="title">
                            <h1 class="fs-3">Ce soir</h1>
                        </div>
                    </div>
                    <div class="">
                        <ul class="list">                            
                            <li class="list-item">Feuilleté fromage / Concombres / Tomates et Féta / hot dog/rosette </li>
                            <li class="list-item">Bourlettes de boeuf / colin aux fruits de mer </li>
                            <li class="list-item">Riz / Carootes persillées</li>
                            <li class="list-item">eau</li>
                            <li class="list-item">Fromage /Yaourt</li>
                            <li class="list-item">Fruit de saison / Compte pommes cassis / Liégeois</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}