<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    {% load static %}
    <script src="{% static 'JS/affichageSelf.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon.png'%}" />
    <title>{% block title %}{% endblock title %} - Affichage Dynamique</title>
</head>
<body style="overflow-y: hidden; overflow-x: hidden;">
    <div class="container-fluid align-items-center">
        <div class="row bg-light m-2 rounded-3 fs-2">
            <p style="font-size: 3vw;">Repas de Noël organisé par la région.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="card ms-3 me-3">
                <div class="card-body">
                    <h4 id="titre" class="card-title" style="font-size: 2vw;"> Lorem Ipsum</h4>
                    <div>
                        <img id="image" src="{% static 'image.jpg'%}" width="32%" height="18%" style="float:left; margin-right: 20px;" >
                        <p id="contenu" class="card-text" style="display: inline; font-size: 1.8vw;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at fringilla odio. Vivamus blandit bibendum ornare. Proin turpis ipsum, laoreet eget placerat vitae, volutpat ac lorem. Curabitur in mi ullamcorper, porta erat id, sollicitudin massa. Sed sed lacinia felis, tristique condimentum nunc. Fusce eget risus nec sapien finibus lobortis. Praesent volutpat dolor ut diam aliquet, vel fermentum lectus porta. Sed elementum sollicitudin eros accumsan varius. Curabitur nec arcu eu quam maximus sodales. Fusce eu ante sagittis elit luctus facilisis. Sed molestie sem at ornare consectetur. Curabitur at tellus ut lorem hendrerit viverra. Interdum et malesuada fames ac ante ipsum primis in laoreet. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card me-3 ms-2">
                <div class="card-body">
                    <table class="table">
                        <thead style="font-size: 1.7vw;">
                          <tr>
                            <th scope="col">Professeur</th>
                            <th scope="col">Horaire d'absence</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 1.4vw;" >
                          <tr>
                            <td>Debaigt</td>
                            <td>Lundi 4/10 8h-18h</td>
                          </tr>
                          <tr>
                            <td>Delajarte</td>
                            <td>Mardi 5/10 5h-18h</td>
                          </tr>
                          <tr>
                            <td>Houardi</td>
                            <td>Mercredi 6/10 17h-18h</td>
                          </tr>
                          <tr>
                              <td>Boissac</td>
                              <td>6/10 - 15/10</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="card me-3 ms-2 mt-2 mb-3">
                <div class="card-body">
                    <p style="font-size: 2vw;">Les délégués sont appelés à aller chercher les masques</p>
                </div>
            </div>
        </div>
    </div>
</body>
