{% load static %}

{% block weatherWidget %}
<div class="border rounded-3 d-inline-block px-2">
    <span id="weatherTemp" class="fs-3 align-middle"></span>
    <img id="weatherImage" class="m-2 d-inline-block" style="width: 8vh; height:auto">
    <div class="separator align-bottom mx-2"></div>
    <span class="fs-2 align-middle" id="myClock"></span>
</div>

<script src="{% static 'JS/weatherWidget.js' %}"></script>
<script src="{% static 'JS/clockApp.js' %}"></script>
<script>
    showTime('myClock')
</script>
{% endblock %}