{% extends "../base.html" %}

{% block title %}
{{ pageTitle }}
{% endblock title %}

{% block content %}
<div class="row p-3">
    <p class="fs-1 align-middle">Comptes</p>
</div>
<div class="row">
    <div class="col-lg-6 col-11 m-3">
        <div class="p-4 border rounded-3">
            <div class="row">
                <h2>Votre compte :</h2>
            </div>
            <div class="row g-2">
                <div class="col-lg-6 col-12">
                    <a href="/comptes/modifier" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Modifier mes informations</h5>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-12">
                    <a href="/logout/" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Se déconnecter</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>  
    {% if perms.ApiServer.add_user or perms.ApiServer.view_user %}
    <div class="col-lg-5 col-11 m-3">
        <div class="p-4 border rounded-3">
            <div class="row">
                <h2>Gérer d'autres comptes :</h2>
            </div>
            <div class="row g-2">
                {% if perms.ApiServer.view_user %}
                <div class="col-lg-6 col-12">
                    <a href="/comptes/voir" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Voir tous les utilisateurs</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% if perms.ApiServer.add_user %}
                <div class="col-lg-6 col-12">
                    <a href="/comptes/ajouter" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Ajouter un utilisateur</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>  
    {% endif %}
    {% if perms.ApiServer.add_article %}
    <div class="col-lg-5 col-11 m-3">
        <div class="border rounded-3">
            <div class="row" >
                <div class="accordion accordion-flush" id="accordion-articles">
                    <div class=>
                      <h2 class="" id="flush-headingArticle">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-articles" aria-expanded="false" aria-controls="flush-articles">
                            <h2>Mes articles :</h2>
                        </button>
                      </h2>
                      <div id="flush-articles" class="accordion-collapse collapse" aria-labelledby="flush-articles" data-bs-parent="#accordion-articles">
                        <div class="accordion-body">
                            <div class="row g-2">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titre</th>
                                            <th scope="col">Dernier jour à l'affiche</th>
                                            <th scope="col">Est affiché</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody class="tbody-pointer">
                                        {% for article in informations.articles %}
                                        <tr class="article-row {% if article.is_shown %}table-warning{% else %}showed{%endif%}" id="id_article" onclick="window.location = '/articles/modifier?id={{article.id}}'">
                                            <td scope="row">{{article.title}}</td>
                                            <td>{{article.expiration_date}}</td>
                                            <td>{% if article.is_shown %}Oui{%else%}Non{%endif%}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    {% endif %}
    {% if perms.ApiServer.add_survey %}
    <div class="col-lg-6 col-11 m-3">
        <div class="border rounded-3">
            <div class="row">
                <div class="accordion accordion-flush accordion-warning" id="accordion-sondages">
                    <div>
                      <h2 class="" id="flush-headingSondages">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-sondages" aria-expanded="false" aria-controls="flush-sondages">
                            <h2>Mes sondages :</h2>
                        </button>
                      </h2>
                      <div id="flush-sondages" class="accordion-collapse collapse" aria-labelledby="flush-sondages" data-bs-parent="#accordion-sondages">
                        <div class="accordion-body">
                            <table class="table table-hover">
                                <thead class="">
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Dernier jour à l'affiche</th>
                                        <th scope="col">Est affiché</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody-pointer">

                                    {%for sondage in informations.sondages %}
                                    <tr class="sondage-row {%if sondage.is_shown%}table-warning{%endif%}" id="{{sondage.id}}" 
                                        onclick="window.location = '/parametres/sondages/modifier?id={{sondage.id}}'">
                                        <td scope="row">{{sondage.description}}</td>
                                        <td>{{sondage.expiration_date}}</td>
                                        <td>{%if sondage.is_shown%}Oui{%else%}Non{%endif%}</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>  
    {%endif%}
</div>
{% endblock content %}