{% extends '../base.html' %}

{% block title %}{{ pageTitle }}{% endblock title %}
{% load static %}
{% block content %}
<div class="row p-3">
    <p class="fs-1 align-middle">Gestion des utilisateurs</p>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="p-4 m-3 border rounded-3">
            <p class="fs-4">Utilisateurs :</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nom de famille</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Groupe</th>
                        <th scope="col" class="d-none d-lg-block">Actif</th>
                        
                    </tr>
                </thead>
                <tbody class="tbody-pointer">

                    {% for user in informations.users %}
                    <tr class="article-row {% if user.is_active != True %}table-danger{%endif%}"
                      id="{{user.id}}">
                        <td scope="row">{{user.last_name}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{%for group in user.groups.all%}{{group}}{%if group != user.groups.all.0%}, {%endif%}{% endfor %}</td>
                        <td class="d-none d-lg-block">{% if user.is_active %}Oui{%else%}Non{%endif%}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="actions" class="border rounded-3 p-4 m-3">
            <p class="fs-4">Actions disponibles :</p>
            <button type="button" id="add" class="btn btn-primary mb-4" onclick="window.location = 'ajouter'">
                + Ajouter un utilisateur
            </button>
            <h5>Utilisateur : <strong id="article-name">Aucun utilisateur sélectionné</strong></h5>
            <div id="actions-btn">
                <button type="button" id="edit" class="btn btn-outline-primary" disabled>Voir son compte</button>
                <button type="button" id="delete" class="btn btn-outline-warning" disabled>Désactiver</button>
            </div>
        </div>
        
    </div>
</div>
<script src="{% static 'JS/List.js' %}"></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        //Récupération des éléments DOM nécessaires
        let utilisateurs = document.getElementsByClassName("article-row")
        let nomUtilisateur = document.getElementById("article-name")
        let btnDelete = document.getElementById("delete")
        let btnEdit = document.getElementById("edit")

        //Association des lignes du tableau avec les différentes fonctions
        const userList = new List(utilisateurs, nomUtilisateur, btnDelete, "table-danger", "Activer", "Désactiver")

        //Recuperation de l'evenement quand on change d'objet sélectionné
        document.addEventListener("selection", e => {
            //Si pas déjà fait, on rend l'accès aux boutons
            btnDelete.disabled = false
            btnEdit.disabled = false

            //Mise à jour des liens vers le bon objet
            btnDelete.addEventListener("click", () => {
                window.location = "/comptes/supprimer?id=" + e.detail.id
            })

            btnEdit.addEventListener("click", () => {
                window.location = "/comptes/modifier?id=" + e.detail.id
            })

        })

    })
</script>
{% endblock content %}