{% load static %}
{% block content %}
<div class="border rounded-3 m-3 mb-5 p-4 ">
    {% if informations %}
    <div class="alert alert-secondary">
        <div class=" mt-3">
            <label for="author">Crée par</label>
            <label class="fw-bold"><a href="/comptes/modifier?id={{informations.survey.author.id}}" target="_blank" class="clickable">{{informations.survey.author}}</a></label>
            <label for="date">le {{informations.survey.date_creation}}</label>
        </div>
        <div class=" my-3">
            <label>Voir les résultats</label>
            <label class="fw-bold"><a href="/parametres/sondages/voirResultats?id={{informations.survey.id}}" target="" class="clickable">ici</a></label>
        </div>
    </div>
    {%else%}
    <div class="alert alert-warning">
        <div class="my-3">
            <label for="Info">Créer un sondage et l'afficher dès la mise en ligne aura pour conséquence de remplacer celui déjà affiché.</label>
        </div>
    </div>
    {%endif%}
    <form id="formulaire" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <div class="form-group my-3">
            <label for="subject" class="form-label">Sujet du sondage :</label>
            <div class="input-group has_validation">
                <input 
                    id="titleInput"
                    name="subject"
                    type="text" 
                    class="form-control {% if form.subject.errors %}is-invalid{% endif %}" 
                    aria-describedby="AideQuestion" 
                    placeholder="Entrer la question (il doit être court et concis)" 
                    maxlength="50"
                    value="{{informations.survey.subject}}"
                >
            </div>
        </div>
        <div class="form-group my-3">
            <label for="reponse" class="form-label">Réponses possibles du sondage :</label>
            <div class="input-group mb-2">
                <div id="reponsesContainer" style="flex:1" class="m-1 border rounded-3 px-1">
                    <div id="reponses" class="row">
                        <div class="col-xl-3 col-lg-6 col-12">
                            <div class="border rounded-3 my-3 mx-1 text-center border-secondary p-2">
                                <input type="text" class="form-control" placeholder="Ajouter une réponse" id="createReponseText">
                                <button class="btn btn-outline-secondary mt-1" id="createReponseButton" type="button" onclick="createReponse()">Ajouter</button>    
                            </div>
                        </div>
                        {% for answer in informations.answers %}
                        <div id="reponse-{{answer.id}}" class="col-xl-3 col-lg-6 col-12">
                            <div class="my-3 mx-1 border border-secondary rounded-3 ">
                                <div class="row m-2 d-flex flex-wrap align-items-center">
                                    <span id="reponseText-{{answer.id}}" class="col-xxl-9 col-6 fs-5 fw-bold text-break">{{answer.answer}}</span>
                                    <button class="col-xxl-3 col-6 btn btn-danger d-float text-center float-end" type="button" onclick="removeReponse({{answer.id}})">Supprimer</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group my-3 has_validation">
            <label for="date_end">Date d'expiration du sondage : </label>
            <input 
                type="date" 
                name="date_end"
                id="dateExpiration"
                data-bs-toggle="tooltip" 
                data-bs-html="true" 
                title="Date du dernier jour où le sondage sera affiché sur les écrans"
                value="{{informations.survey.date_end|date:'Y-m-d'}}"
                class="{% if form.date_end.errors %}is-invalid{% endif %}"
            > 
        </div>
        <div class="form-group mt-3">
            <div class="form-check form-switch">
                <input class="form-check-input" value="True" type="checkbox" name="is_shown" {%if informations.survey.is_shown %}checked{%endif%}>
                <label class="form-check-label">Montrer le sondage dès la mise en ligne</label>
            </div>
        </div>
        <div class="form-group mt-3">
            <div class="row">
                <div class="col-lg-3 btn-group"> 
                    <button id="send" type="submit" class="btn btn-primary"
                        data-bs-toggle="tooltip" data-bs-html="true" title="Enregistre le sondage dans la base de données.">
                        {% if informations %}Mettre à jour !{% else %}Mettre en ligne maintenant !{%endif%}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (window.addEventListener("DOMContentLoaded",() => {
        //Définition de la valeur par défaut du selectionneur de date (par defaut un sondage reste en ligne 15 jours)
        if(document.getElementById('dateExpiration').defaultValue == ""){
            let date = new Date() 
            date.setDate(date.getDate() + 15)
            document.getElementById('dateExpiration').valueAsDate = date;
        }
    }))

    let reponsesDOM = document.getElementById("reponses")
    let createButtonDOM = document.getElementById("createReponseButton")
    let sendButton = document.getElementById("send")
    let formDOM = document.getElementById("formulaire")
    let reponsesContainer = document.getElementById("reponsesContainer")

    formDOM.addEventListener("submit", sendForm)

    let indexReponse = 0
    let nbReponse = 0

    function createReponse(){
        /**
         * Ajoute l'element dom représentant une réponse à l'écran
         */
        let createReponseDOM = document.getElementById("createReponseText")
        text = createReponseDOM.value

        if (text !== ""){
            createReponseDOM.value = ""

            reponsesDOM.innerHTML += `
            <div id="reponse-${indexReponse}" class="col-xl-3 col-lg-6 col-12">
                <div class="my-3 mx-1 border border-secondary rounded-3 ">
                    <div class="row m-2 d-flex flex-wrap align-items-center">
                        <span id="reponseText-${indexReponse}" class="col-xxl-9 col-6  fs-5 fw-bold text-break">${text}</span>
                        <button class="btn btn-danger col-xxl-3 col-6  text-center" type="button" onclick="removeReponse(${indexReponse})">Supprimer</button>
                    </div>
                </div>
            </div>
            `

            nbReponse++
            indexReponse++
        }
    }

    function removeReponse(id){
        /**
         * Supprime l'element dom voulu représentant une réponse à l'écran
         */
        let reponse = document.getElementById("reponse-"+id)

        reponse.parentNode.removeChild(reponse)

        nbReponse--


    }

    function sendForm(e){
        /**
         * Envoie le formulaire au serveur en ajoutant les différentes réponses créees
         */
        e.preventDefault()

        //Création d'un input select qui va nous servir pour faire passer nos réponses
        let selectDOM = document.createElement("select")
        selectDOM.name = "answers"
        selectDOM.multiple = true
        selectDOM.hidden = true
        
        //Pour chaque réponse à l'écran, on ajoute une entrée au select, et on le selectionne
        for(let i = 1; i < reponsesDOM.children.length; i++){
            let reponse = reponsesDOM.children[i].children[0].children[0].children[0].textContent 
            let optionDOM = document.createElement("option")
            optionDOM.value = reponse
            optionDOM.selected = true

            selectDOM.appendChild(optionDOM)

        }

        formDOM.appendChild(selectDOM)
        
        //On envoie le formulaire
        formDOM.submit()
    }
</script>
{% endblock content%}