{%extends '../../base.html'%}

{%block title%}{{pageTitle}}{%endblock title%}
{% load static %}
{%block content%}
<div class="row p-3">
    <p class="fs-1 align-middle">Sondages</p>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="clickable">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/parametres" class="clickable">Paramètres</a></li>
            <li class="breadcrumb-item active" aria-current="Sondages" class="clickable">Sondages</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="p-4 m-3 border rounded-3">
            <p class="fs-4">Sondages mis en ligne :</p>
            <table class="table table-hover">
                <thead class="">
                    <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Dernier jour à l'affiche</th>
                        <th scope="col" class="d-none d-lg-table-cell">Est affiché</th>
                    </tr>
                </thead>
                <tbody class="tbody-pointer">
                    {%for sondage in informations%}
                    <tr class="sondage-row {%if sondage.est_affiche%}table-warning{%else%}showned{%endif%}" id="{{sondage.id}}">
                        <td scope="row" class="text-break">{{sondage.question}}</td>
                        <td>{{sondage.author}}</td>
                        <td>{{sondage.date_fin}}</td>
                        <td class="d-none d-lg-table-cell">{%if sondage.est_affiche%}Oui{%else%}Non{%endif%}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="actions" class="border rounded-3 p-4 m-3">
            <p class="fs-4">Actions disponibles :</p>
            <button type="button" id="add" class="btn btn-primary mb-4" onclick="window.location = '/parametres/sondages/ajouter'">
                + Ajouter un sondage
            </button>
            <h5>Sondage : <strong id="sondage-name">Aucun sondage sélectionné</strong></h5>
            <div id="actions-btn">
                <button type="button" id="edit" class="btn btn-outline-primary" disabled>Modifier</button>
                <button type="button" id="hide" class="btn btn-outline-warning" disabled>Cacher</button>
                <button type="button" id="goToResults" class="btn btn-outline-secondary" disabled>Voir les resultats</button>
            </div>
        </div>
        
    </div>
</div>
<script src="{% static 'JS/List.js' %}"></script>
<script>
window.addEventListener("DOMContentLoaded", () => {
        //Récupération des éléments DOM nécessaires
        let sondages = document.getElementsByClassName("sondage-row")
        let sondageName = document.getElementById("sondage-name")
        let btnHide = document.getElementById("hide")
        var btnEdit = document.getElementById("edit")
        var btnGoToResults = document.getElementById("goToResults")
        
        //Association des lignes du tableau avec les différentes fonctions
        const Sondages = new List(sondages, sondageName, btnHide, "showned")

        //Modification des boutons à chaque fois que l'user change sa sélection
        document.addEventListener("selection", e => {
            btnGoToResults.disabled = false;
            btnHide.disabled = false;
            btnEdit.disabled = false;

            //Mise à jour des liens vers le bon objet
            btnGoToResults.addEventListener("click", () => {
                window.location = "/parametres/sondages/voirResultats?id=" + e.detail.id
            })

            btnEdit.addEventListener("click", () => {
                window.location = "/parametres/sondages/modifier?id=" + e.detail.id
            })

            btnHide.addEventListener("click", () => {
                window.location = "/parametres/sondages/toggleVisibilite?id=" + e.detail.id
            })
        })
    })
</script>
{%endblock content%}