{%extends '../../base.html' %}

{%block title%}{{pageTitle}}{%endblock title%}

{%block content%}
<div class="row p-3">
    <p class="fs-1 align-middle">Modifier un sondage</p>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="clickable">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/parametres" class="clickable">Paramètres</a></li>
            <li class="breadcrumb-item"><a href="/parametres/sondages" class="clickable">Sondages</a></li>
            <li class="breadcrumb-item active" aria-current="Voir les résultats d'un sondage" class="clickable">Voir les résultats</li>
        </ol>
    </nav>
</div>
<div class="row border rounded-3 m-3 mb-5 p-4 ">
    <div class="col-12 col-lg-5">
        <canvas width="400" height="400" id="monGraph"></canvas>
    </div>
    <div class="col-12 col-lg-7">
        <h3>Sondage : {{informations.survey.subject}}</h3>
        <small class="text-muted">Date : du {{informations.survey.date_creation}} au {{informations.survey.date_end}}</small>
        <p class="mt-5 fs-5">Nombre de vote <span class="fst-italic">Total</span> : <span class="fw-bold">{{informations.totalVotes}} votes</span></p>
        {%for answer, idAnswer in informations.answers.items%}
        <p>Nombre de vote <span class="fst-italic">{{answer}}</span> : <span class="fw-bold">{{informations.votes|get_value:idAnswer}} votes</span></p>
        {%endfor%}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    //Données pour le graph
    const data = {
        labels: [
            {%for answer in informations.answers%}
            "{{answer}}",
            {%endfor%}
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [
                {%for IDvote, vote in informations.votes.items%}
                {{vote}},
                {%endfor%}
            ],
            backgroundColor: [
                {%for vote in informations.votes%}
                generateRandomColor(),
                {%endfor%}
            ],
            hoverOffset: 4
        }]
    };

    const config = {
        type: 'doughnut',
        data: data,
        responsive: true,
    };

    //Création du graph
    const monGraph = new Chart(
        document.getElementById("monGraph"),
        config
    )

    function generateRandomColor(){
        /**
         * Génération d'une couleur aléatoire pour le graphique
        */
        let maxVal = 0xFFFFFF; 
        let randomNumber = Math.random() * maxVal; 
        randomNumber = Math.floor(randomNumber);
        randomNumber = randomNumber.toString(16);
        let randColor = randomNumber.padStart(6, 0);   
        return `#${randColor.toUpperCase()}`
    }
</script>
{%endblock content%}