@font-face {
    font-family: "DM Sans";
    src: url("/static/FONTS/DMSans-Regular.ttf");
}
html{
  overflow-x: hidden;
  height: 100%;
}

body {
    overflow-x: hidden;
    position: relative;
    background : linear-gradient(90deg, #FFC488 71.81%, #FF845E 127.38%);
    font-weight: 500;
    }

@media screen and (max-width: 600px) {

    .logo{
        height: 18vw;
        width: auto;    
    }

    .sondage{
        font-family: 'DM Sans';
        position: relative;
        top: 9vw;
        left: 32vw;
        transform: translateY(-50%) translateX(-50%);
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 12vw;
        font-weight: 900;
    }
    
    .big-text{
        font-size: 7vw;
        line-height: 7vw;
        font-weight: 900;
    }

    .form{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .vote-input{
        font-size: 3vh;
        border: 3px solid #FF8304;
        border-radius: 9px;
        height: 120%;
        width: 90%;
        padding: 10px;
    }

    .connexion-submit{
        width: 90%;
        border: 3px solid #FF8304;
        border-radius: 9px;
        padding: 10px;
        font-weight: 500;
        font-size: 2;
    }

}

@media screen and (min-width: 601px) 
{
    .logo{
        height: 7vw;
        width: auto;    
    }

    .sondage{
        font-family: 'DM Sans';
        color: white;
        position: absolute;
        left: 50%;
        top: 3.5vw;
        transform: translateX(-50%) translateY(-50%);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 4vw;
        line-height: 4vw;
        font-weight: 900;
    }

    .big-text{
        font-size: 4vw;
    }

    .form{
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    .vote-input{
        border: 3px solid #FF8304;
        border-radius: 9px;
        height: 120%;
        width: 40%;
        padding: 10px;
    }

    .vote-input:hover{
        color: black;
    }

    .connexion-submit{
        width: 40%;
        border: 3px solid #FF8304;
        border-radius: 9px;
        padding: 10px;
        font-weight: 500;
        font-size: 2;
        background-color: #ff57247e;
        color: black;
    }

}

.card {
    background-color: #ffffff;
    border: solid 3px #FF8304;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);
    padding: 10px;
    font-family: 'DM Sans';
}

.connexion-input{
    border: 3px solid #FF8304;
    border-radius: 9px;
    height: 50px;
    padding: 10px;
}

.modal-bordered{
    border: 3px solid #FF8304;
    border-radius: 30px;
}

.text-larger{
    font-size: 150%;
}

.text-inform{
    font-size: 75%;
}

.no-survey{
    position: absolute;
    font-family: "DM Sans";
    font-size: 4vh;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}