#myClock {
    font-size: 3vw;
    letter-spacing: 7px;
}

#bjrText {
    background: -webkit-linear-gradient(rgb(241, 137, 17),rgb(250, 29, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}