.menuContainer {
    border-color: rgb(255, 147, 47) !important;
    border-width: 2px !important;
}

.separator {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 10.4vh;
}

