@font-face {
    font-family: "DM Sans";
    src: url("/static/FONTS/DMSans-Regular.ttf");
}

.card {
    background-color: #ffffff;
    border: solid 3px #FF8304;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);
    padding: 10px;
    font-family: 'DM Sans';
}

.title {
    text-align: center;
    border-bottom: solid #FF830499 2px;
    width: 80%;
    margin: auto;
    margin-bottom: 3.5vh;
}

.bonjour{
    background: linear-gradient(100.5deg, #FF8304 2.01%, #FF2604 66.14%);
    font-size: 4vh;
    /* Mask the color to the text, and remove the rest  */
    -webkit-background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
}

.content-no-article{
    font-family: 'DM Sans';
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 0.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    color: #000000;
}

.circled{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    line-height: 4.5vh;
    text-align: center;
    font-size: 2vh;
    border: black 2px solid;
    float: right;
}

.pageNumber{
    font-weight: 700;
    font-family: 'DM Sans';
    font-size: 2vh;
    margin: 0;
    padding: 0.2vh;
    float: right;
}

.prof-list {
    font-size: 2.5vh;
    height: 24vh;
    padding: 0;
    margin-top: -3vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.prof-list::-webkit-scrollbar{
    display: none;
}

.list-item{
    margin: 1vh;
}

.agenda{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 3.5vh;
    right: 0;
}

.agenda-titre{
    position: absolute;
    bottom: 25vh;
    left: 10vh;
}

.parallelograme-titre{
    width: 12vh;
    height: 5vh;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
    background: #FF2604;
    position:absolute;
    box-shadow: 2px 4px 4px 0px #4d4a4a40;
    z-index: -9;
}

.texte-titre{
    position: relative;
    z-index: 9;
    font-family: 'DM Sans';
    font-size: 2vh;
    line-height: 5vh;
    width: 12vh;
    font-style: bold;
    color: black;
    font-weight: 900;
}

.fleche{
    display: flex;
    height: 1vh;
    transform: translateY(-250%);
}

.fleche-ligne{
    height: 0px;
    margin-left: 2vh;
    width: 100%;
    transform: translateY(100%);
    border-bottom: 0.5vh solid #FF6046;
}

.fleche-tete{
    width: 0;
    height: 0;
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;
    border-left: 2vh solid #FF6046;
    position: relative;
    transform: translateY(-35%);
}

.liste-date{
    display: flex;
    margin-left: 16vh;
    height: 20vh;
    transform: translateY(-27%);
    position: absolute;
}

.date-premiere{
    margin-left: 10vh;
    height: 5vh;
    transform: translateY(-44%);
    line-height: 5vh;
}

.date{
    margin-left: 24vh;
    height: 5vh;
    line-height: 5vh;
    transform: translateY(-44%);
}

.barre-droite{
    z-index: -18;
    width: 2.4vh;
    border-bottom: 0.5vh solid #FF2604;
    opacity: 1;
    position: absolute;
    transform: translateX(-2.1vh) translateY(2.15vh);
    
}

.barre-oblique{
    position: absolute;
    width: 0.5vh;
    height: 7.4vh;
    transform: translateX(17.5vh) translateY(-8.1vh) skew(-42deg);
    background-color: #FF2604;
}

.parallelograme-date {
    width: 12vh;
    height: 5vh;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
    background: #FF6046;
    position:absolute;
    box-shadow: 2px 4px 4px 0px #4d4a4a40;
    z-index: -9;
}

.texte-date{
    position: relative;
    padding-left: 6vh;
    transform: translateX(-25%);
    z-index: 9;
    font-family: 'DM Sans';
    font-size: 2vh;
    width: 12vh;
    font-style: bold;
    color: black;
}

.liste-evenement{
    display: flex;
    margin-left: 3vh;
    height: 15vh;
    transform: translateY(-2.3vh);
}

.evenement{
    margin-left: 6vh;
}

.parallelograme-evenement {
    width: 30vh;
    height: 8vh;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
    background: #FF9888;
    position:absolute;
    box-shadow: 2px 4px 4px 0px #4d4a4a40;
    z-index: -9;
}

.texte-evenement{
    position: relative;
    z-index: 9;
    font-family: 'DM Sans';
    font-size: 1.8vh;
    width: 30vh;
    padding: 10px;
    top: 3vh;
    height: 6vh;
    transform: translateY(-50%) ;
    font-style: bold;
    color: black;   
}

.cercle{
    height: 2vh;
    width: 2vh;
    background-color: #FF6046;
    border-radius: 50%;
    transform: translateX(13.8vh) translateY(-75%);
    position: absolute;
}