@font-face {
    font-family: "DM Sans";
    src: url("/static/FONTS/DMSans-Regular.ttf");
}

.card {
    background-color: #ffffff;
    border: solid 3px #FF8304;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);
    padding: 10px;
    font-family: 'DM Sans';
}

.title {
    text-align: center;
    border-bottom: solid #FF830499 2px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.liste-profs {
    font-size: 3vh;
}

.agenda{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 11vh;
    right: 0;
}

.fleche{
    display: flex;
    height: 1vh;
}

.fleche-ligne{
    margin-left: 2vh;
    width: 100%;
    transform: translateY(100%);
    border-bottom: 3px solid #FF6046;
}

.fleche-tete{
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid #FF6046;
    position: relative;
    transform: translateY(-30%);
}

.liste-date{
    display: flex;
    margin-left: 16vh;
    height: 20vh;
    transform: translateY(-0%);
}
.date-premiere{
    margin-left: 10vh;
    height: 5vh;
    line-height: 5vh;
}

.date{
    margin-left: 24vh;
    height: 5vh;
    line-height: 5vh;
}

.barre-droite{
    transform: translateX(-2.5vh);   
    width: 2.6vh;
    border-bottom: 3px solid #FF2604;
    opacity: 1;
    position: absolute;
}

.barre-oblique{
    position: absolute;
    width: 3px;
    height: 7.4vh;
    transform: translateX(17.2vh) translateY(-6.1vh) skew(-42deg);
    background-color: #FF2604;
}

.parallelograme-date {
    width: 12vh;
    height: 5vh;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
    background: #FF6046;
    position:absolute;
    box-shadow: 2px 4px 4px 0px #4d4a4a40;
    z-index: -9;
}

.texte-date{
    position: relative;
    padding-left: 6vh;
    transform: translateX(-25%);
    z-index: 9;
    font-family: 'DM Sans';
    font-size: 2vh;
    width: 12vh;
    font-style: bold;
    color: black;
}

.liste-evenement{
    display: flex;
    margin-left: 3vh;
    height: 15vh;
    transform: translateY(-2.3vh);
}

.evenement{
    margin-left: 6vh;
}

.parallelograme-evenement {
    width: 30vh;
    height: 8vh;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
    background: #FF9888;
    position:absolute;
    box-shadow: 2px 4px 4px 0px #4d4a4a40;
    z-index: -9;
}

.texte-evenement{
    position: relative;
    z-index: 9;
    font-family: 'DM Sans';
    font-size: 2vh;
    width: 30vh;
    padding: 10px;
    top: 3vh;
    height: 6vh;
    transform: translateY(-50%) ;
    font-style: bold;
    color: black;   
}

.cercle{
    height: 10px;
    width: 10px;
    background-color: #FF6046;
    border-radius: 50%;
    transform: translateX(13.8vh) translateY(20%);
}