{%extends '../../base.html'%}

{% block title %}
{{ pageTitle }}
{% endblock title %}

{%block content%}
<div class="row p-3">
    <p class="fs-1 align-middle">Modifier l'affectation des pages aux écrans</p>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="clickable">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/parametres" class="clickable">Paramètres</a></li>
            <li class="breadcrumb-item active" aria-current="Modifier le lien écran page" class="clickable">Modifier le lien écran <-> page</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="border rounded-3 m-3 mb-5 p-4 col-11">
        <form action="" method="POST">
            {%csrf_token%}
            <div class="row">
                <div class="col-6">
                    <h5>Choisir un ou plusieurs écrans :</h5>
                    <select name="screens" id="selectEcran" class="form-select" size="10" multiple aria-label="Choix écran">
                        {% for screen in informations.screens %}
                            <option value="{{screen.id}}" data-ecran="{{screen.page.description}}">{{screen.name}}</option>
                        {%endfor%}
                    </select>
                    <small class="text-muted">Pour selectionner plusieurs écrans, maintenir la touche CTRL pendant le clic avec la souris</small>
                </div>
                <div class="col-6">
                    <div class="row">
                        <h5>Page actuellement choisie sur l'écran :</h5>
                        <p id="previewDescription">Aucun écran n'est sélectionné</p>
                    </div>
                    <div class="row">
                        <h5>Page à afficher sur l'écran :</h5>
                        <select id="selectPage" name="page" class="form-select">
                            <option value="-1">Ne pas attribuer de page</option>
                            {% for page in informations.pages %}
                            <option value="{{page.id}}">{{page.description}}</option>
                            {%endfor%}
                        </select>
                        <small class="text-muted">Si aucune page n'est sélectionnée, l'écran affichera l'heure et les informations</small>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-5"></div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Enregistrer !</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
let selectEcran = document.getElementById("selectEcran")
let descriptionPreview = document.getElementById("previewDescription")
selectEcran.addEventListener("change", (e) => {
    if (selectEcran.selectedOptions.length > 1){
        descriptionPreview.innerText = "Plusieurs écrans sélectionnés"

    } else if (selectEcran.selectedOptions.length == 1) {
        page = selectEcran.selectedOptions[0].getAttribute("data-ecran")

        if (page === "") {
            descriptionPreview.innerText = "Aucune page n'est attribuée à l'écran"

        } else {
            descriptionPreview.innerText = page
        }

    } else {
        descriptionPreview.innerText = "Aucun écran n'est sélectionné"
    }
})
</script>
{%endblock content%}