{% extends "./base.html" %}

{% block title %}
{{ pageTitle }}
{% endblock title %}

{% block content %}
<div class="row p-3">
    <p class="fs-1 align-middle">Administration des écrans du lycée Antoine Bourdelle</p>
</div>
<div class="row">
    <div class="col-lg-6 col-11 m-3">
        <div class="p-4 border rounded-3">
            <div class="row">
                <h2>Actions rapides :</h2>
            </div>
            <div class="row g-2">
                {% if perms.ApiServer.view_article %}
                <div class="col-lg-6 col-12">
                    <a href="articles" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Voir les derniers articles en ligne</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
                <div class="col-lg-6 col-12">
                    <a href="comptes" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Gérer mon compte</h5>
                        </div>
                    </a>
                </div>
                {% if perms.ApiServer.add_user %}
                <div class="col-lg-6 col-12">
                    <a href="comptes/ajouter" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Créer un nouvel utilisateur</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% if perms.ApiServer.add_article %}
                <div class="col-lg-6 col-12">
                    <a href="articles/ajouter" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Poster un article</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        
    </div>
    <div class="col-lg-5 col-11 m-3">
        <div class="p-4 border rounded-3">
            <div class="row">
                <h2>Mon compte :</h2>
            </div>
            <div class="row g-2">
                {% if perms.Apiserver.view_article %}
                <div class="col-lg-6 col-12">
                    <a href="comptes" class="clickable" >
                        <div class="p-3 border rounded-1">
                            <h5>Voir tous mes articles</h5>
                        </div>
                    </a>
                </div>
                {% endif %}
                <div class="col-lg-6 col-12">
                    <a href="comptes/modifier" class="clickable">
                        <div class="p-3 border rounded-1">
                            <h5>Modifier mes informations</h5>
                        </div>
                    </a>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock content %}