{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="no-survey">
        <div class="card no-survey text-center">
            <p>Il n'y a aucun sondage actuellement, essayez de revenir plus tard !</p>
        </div>
    </div>
    <div id="my-card" class="card mt-4 mb-4 form" hidden=true>
        <form id="my-form" action="/postVote/" method="post">
            {%csrf_token%}
            <div class="mb-4">
                <div class="text-center big-text mt-1 mb-4">
                    <p>
                        La MDL vous demande votre avis !
                    </p>
                </div>
                <div class="text-center mt-4">
                    <p class="text-larger" id="question"></p>
                    <div id="answers">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-0">
                <button id="submit" type="button" class="connexion-submit text-larger" onclick="trySubmit()">Valider mon vote</button>
            </div>
        </form>
    </div>
    <div id="modal" class="modal fade" tabindex="-1" id="modal-test"> 
        <div class="modal-dialog modal-lg modal-connexion">
            <div class="modal-content modal-bordered p-1">
                <div class="text-center big-text mt-1">
                    <p>
                        La MDL vous demande votre avis !
                    </p>
                </div>
                <div class="modal-body text-center">
                    <p class="text-larger">Connecte toi au plus vite pour répondre à ce sondage !</p>
                <div class="m-4">
                    <input form="my-form" type="text" name="username" class="connexion-input" placeholder="Identifiants">
                </div>
                <div class="m-4">
                    <input form="my-form" type="password" name="password" class="connexion-input" placeholder="Mot de passe">
                </div>
                <p class="text-inform">(Les identifiants sont les mêmes que pour les ordinateurs au lycée)</p>
            <div class="modal-footer d-flex justify-content-center">
                <button form="my-form" type="submit" class="btn connexion-submit text-larger" data-bs-dismiss="modal">Connexion</button>
            </div>
        </div>
    </div>
<link rel="stylesheet" href="{% static 'CSS/vote.css' %}">
<script>
    var data = "{{data}}"
    data = data.replace(/&quot;/g, "\"")
</script>
<script src="{% static 'JS/vote.js' %}"></script>
{% endblock %}
