{% extends '../base.html' %}

{% load static %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block content %}
<div class="row p-3">
    <p class="fs-1 align-middle">Ajout d'un article</p>
</div>
<div class="border rounded-3 m-3 mb-5 p-4 ">
    <form id="formulaire" action="#" method="post">
        {% csrf_token %}
        <div class="form-group my-3">
            <label for="image" class="form-label">Image de l'article</label>
            <div class="border rounded-3 d-flex align-items-center justify-content-center imageUploadBox" id="imageUploadBox" data-bs-toggle="" data-bs-target="#staticBackdrop">
                <svg id="svgImage" xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                </svg>
                <div id="imagePreview" class="rounded-3" data-bs-toggle="tooltip" data-bs-html="true" title="Modifier l'image" hidden></div>
                <input name="image" type="file" accept="image/*" class="form-control" id="imageInput" hidden>
            </div>
        </div>
        <div class="form-group my-3">
            <label for="titre" class="form-label">Titre</label>
            <div class="input-group">
                <input id="titleInput" type="text" class="form-control" id="titre" aria-describedby="AideTitre" placeholder="Entrer le titre (il doit être court et concis)" maxlength="65">
            </div>
            <small id="titleLength" class="form-text text-muted" style="display: block;">0 / 65</small>
        </div>
        <div class="form-group my-3">
            <label for="articleContent" class="form-label">Contenu de l'article</label>
            <textarea name="articleContent" id="articleContent" class="form-control" data-provide="markdown" maxlength="700" placeholder="Entrer le contenu de l'article"></textarea>
            <small id="compteurCaractereArticleContenu" class="form-text text-muted">0/700</small>
        </div>
        <div class="form-group my-3">
            <label for="dateExpiration">Date d'expiration de l'article : </label>
            <input type="date" id="dateExpiration"
            data-bs-toggle="tooltip" data-bs-html="true" title="Date du dernier jour où l'article sera affiché sur les écrans"> 
        </div>
        <div class="form-group mt-3">
            <div class="row">
                <div class="col-4 btn-group"> 
                    <button id="sendShow" type="submit" class="btn btn-primary"
                        data-bs-toggle="tooltip" data-bs-html="true" title="Enregistre l'article dans la base de données et l'affiche sur les écrans.">
                        Mettre en ligne maintenant !
                    </button>
                    <button id="sendHide" type="submit" class="btn clickable"
                        data-bs-toggle="tooltip" data-bs-html="true" title="Enregistre l'article dans la base de données mais ne l'affiche pas sur les écrans.">
                        Mettre en ligne mais cacher
                    </button>
                    
                </div>
                <div class="w-50"></div>
                <div class="col-2 text-end">
                    <button id="delete" type="reset" class="btn btn-outline-danger"
                        data-bs-toggle="tooltip" data-bs-html="true" title="Supprime les données rentrées sur cette page.">
                        Supprimer
                    </button>
                </div>
            </div>
        </div>
    </form>

    {% include "../decoupeur.html" %}
</div>
<script src="{% static 'JS/Cropper.js' %}"></script>
<script src="{% static 'JS/imageDecoupeur.js' %}"></script>
<script>
    (window.addEventListener("DOMContentLoaded",() => {
        //On defini les aides pour les boutons d'actions
        let tooltipsDOM = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        let tooltips = []
        for(let i = 0; i < tooltipsDOM.length; i++){
            tooltips.push(new bootstrap.Tooltip(tooltipsDOM[i]))
        }

        //On défini les compteurs de caractères 
        let title = document.getElementById("titleLength")
        let titleInput = document.getElementById("titleInput")
        titleInput.addEventListener("input", () => {
            title.innerHTML = titleInput.value.length + " / 65"
        })

        let compteurCaractere = document.getElementById("compteurCaractereArticleContenu")
        let articleContent = document.getElementById("articleContent")
        articleContent.addEventListener("input", () => {
            compteurCaractere.innerHTML = articleContent.value.length + " / 700"
        })  

        let image = new imageDecoupeur(document.getElementById("imageInput"), 
            document.getElementById("imageUploadBox"),
            document.getElementById("imagePreview"),
            document.getElementById("svgImage"),
        )
    }))
    
</script>
{% endblock content %}