{% extends '../base.html' %}

{% block title %}{{ pageTitle }}{% endblock title %}

{% block content %}
<div class="row p-3">
    <p class="fs-1 align-middle">Gestion des articles</p>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="p-4 m-3 border rounded-3">
            <p class="fs-4">Articles mis en ligne :</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Temps avant de se cacher</th>
                        <th scope="col">Affiché sur les écrans</th>
                        <th scope="col" class="d-none d-lg-block">Contient des images</th>
                        
                    </tr>
                </thead>
                <tbody class="tbody-pointer">
                    <tr class="article-row table-warning" id="id_article">
                        <td scope="row">Les militaires</td>
                        <td>2 jours</td>
                        <td>Oui</td>
                        <td class="d-none d-lg-block">Oui</td>
                    </tr>
                    <tr class="article-row">
                        <td scope="row">Les surveillants</td>
                        <td>4 jours</td>
                        <td>Non</td>
                        <td class="d-none d-lg-block">Non</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="actions" class="border rounded-3 p-4 m-3">
            <p class="fs-4">Actions disponibles :</p>
            <button type="button" id="add" class="btn btn-primary mb-4" onclick="window.location = 'articles/ajouter'">
                + Ajouter un article
            </button>
            <h5>Article : <strong id="article-name">Aucun article sélectionné</strong></h5>
            <div id="actions-btn">
                <button type="button" id="edit" class="btn btn-outline-primary" onclick="window.location = 'articles/modifier?id=1'" disabled>Modifier</button>
                <button type="button" id="hide" class="btn btn-outline-warning" disabled>Cacher</button>
                <button type="button" id="delete" class="btn btn-danger" disabled>Supprimer</button>
            </div>
        </div>
        
    </div>
</div>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        //Récupération des éléments DOM nécessaires
        var articles = document.getElementsByClassName("article-row")

        //Association des lignes du tableau avec les différentes fonctions
        const Articles = new Article(articles)
        Articles.associateArticlesFunctions()
    })
    
    function toggleActions(selected) {
        /*
        *   Fonction affichant les boutons quand l'utilisateur selectionne un article
        *   et qui modifie le bouton "Cacher/Afficher" en fonction de si l'article est actuellement
        *   à l'écran ou non
        */
        let articleName = document.getElementById("article-name")
        let buttons = document.getElementById("actions-btn").children
        
        //Modification du texte affichant le nom de l'article selectionné
        articleName.innerText = selected.children[0].innerText

        //Boucle s'executant à chaque fois que l'utilisateur sélectionne un article
        //Elle s'éxécute une fois pour chaque bouton d'action
        for(let i = 0; i < buttons.length; i++){
            buttons[i].disabled = false

            //Changement du texte du bouton affichant (ou non) l'article à l'écran et son style
            if(buttons[i].id == "hide" && selected.className.indexOf("table-warning") != -1){
                buttons[i].innerHTML = "Afficher"
                buttons[i].className = "btn btn-outline-success"

            } else if (buttons[i].id == "hide") {
                buttons[i].innerHTML = "Cacher"
                buttons[i].className = "btn btn-outline-warning"
            }
        }   
    }

    class Article {
        constructor(articles){
            this.articles = articles
            this.selected = undefined
        }

        associateArticlesFunctions(){
            /*
            *   Association de chaque ligne du tableau contenant les articles aux fonctions
            *   gérant les boutons et les lignes ditent "active" (sélectionné)
            */
            //Affectation de l'évenement "click" à chaque ligne du tableau contenant les articles
            for(let i = 0; i < this.articles.length ; i++){
                this.articles[i].addEventListener("click", () => {
                    this._toggleArticleActive(this.articles[i])
                    toggleActions(this.selected)
                })
            }
        }

        _toggleArticleActive(article){
            if(this.selected !== undefined){
                let classList = this.selected.classList.value.split(" ")
                classList.pop()
                this.selected.classList.value = classList.join(" ")
                        
            }
                    
            this.selected = article
            this.selected.classList.value += " table-active"
        }
    }

</script>
{% endblock content %}