{% extends '../base.html' %}

{% block title %}{{ pageTitle }}{% endblock title %}

{%load static%}

{% block content %}
<div class="row p-3">
    <p class="fs-1 align-middle">Gestion des articles</p>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="p-4 m-3 border rounded-3">
            <p class="fs-4">Articles mis en ligne :</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Dernier jour à l'affiche</th>
                        <th scope="col">Est affiché sur les écrans</th>
                        <th scope="col" class="d-none d-lg-block">Contient des images</th>
                        
                    </tr>
                </thead>
                <tbody class="tbody-pointer">
                    {% for article in informations %}
                    <tr class="article-row {% if article.is_shown %}table-warning{% else %}showed{%endif%}" id="{{article.id}}">
                        <td scope="row" class="text-break">{{article.title}}</td>
                        <td>{{article.expiration_date}}</td>
                        <td>{% if article.is_shown %}Oui{%else%}Non{%endif%}</td>
                        <td class="d-none d-lg-table-cell">{% if article.image %}Oui{%else%}Non{%endif%}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="actions" class="border rounded-3 p-4 m-3">
            <p class="fs-4">Actions disponibles :</p>
            <button type="button" id="add" class="btn btn-primary mb-4" onclick="window.location = 'articles/ajouter'">
                + Ajouter un article
            </button>
            <h5>Article : <strong id="article-name" class="text-break">Aucun article sélectionné</strong></h5>
            <div id="actions-btn">
                <button type="button" id="edit" class="btn btn-outline-primary" disabled>Modifier</button>
                <button type="button" id="hide" class="btn btn-outline-warning" disabled>Cacher</button>
                <button type="button" id="delete" class="btn btn-danger" disabled 
                  data-bs-toggle="tooltip" data-bs-html="true" title="En supprimant l'article, toutes les données seront perdues et aucun retour en arrière sera possible">
                    Supprimer
                </button>
            </div>
        </div>
        
    </div>
</div>
<script src="{% static 'JS/List.js' %}"></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        //Récupération des éléments DOM nécessaires
        var articles = document.getElementsByClassName("article-row")
        var articleName = document.getElementsByClassName("article-name")
        var btnHide = document.getElementById("hide")
        var btnEdit = document.getElementById("edit")
        var btnDelete = document.getElementById("delete")

        //Association des lignes du tableau avec les différentes fonctions
        const Articles = new List(articles, articleName, btnHide, "showed")

        //Modification des boutons à chaque fois que l'user change sa sélection
        document.addEventListener("selection", e => {
            btnDelete.disabled = false;
            btnHide.disabled = false;
            btnEdit.disabled = false;

            //Mise à jour des liens vers le bon objet
            btnDelete.addEventListener("click", () => {
                window.location = "/articles/supprimer?id=" + e.detail.id
            })

            btnEdit.addEventListener("click", () => {
                window.location = "/articles/modifier?id=" + e.detail.id
            })

            btnHide.addEventListener("click", () => {
                window.location = "/articles/toggleVisibilite?id=" + e.detail.id
            })
        })
    })

</script>
{% endblock content %}