{%load static%}
{% block content %}
<style>
    #weatherCardList {
        margin: auto
    }

    .weatherCard {
        background: linear-gradient(142.47deg, rgba(255, 155, 139, 0.11) 0%, rgba(255, 196, 136, 0.15) 62.5%);
        border: 3px solid rgba(255, 131, 4, 0.9);
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
        border-radius: 9px;
    }

    hr {
        margin: 0;
        background-color: rgba(255, 131, 4);
        height: 2px !important;
        border: solid 10%
    }
</style>
<div id="weatherCardList" class="row">

</div>
<script src="{%static 'JS/weatherApp.js' %}"></script>
{% endblock %}