<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{{description}}</title>
    {% load static%}
</head>

<header>
    <link rel="stylesheet" href="{% static 'CSS/pageHeaderFooter.css' %}">
    <div class="row header">
        <div class="text-center">
            <p class="fst-italic text-header"> LYCÉE POLYVALENT ANTOINE BOURDELLE </p>
        </div>
        <div>
            <img class="d-inline rounded logo ms-2" src="{% static 'IMG/Logo_lycée_Bourdelle.jpg' %}">
        </div>
    </div>
</header>
<body style="overflow-y: hidden; overflow-x: hidden;">
    {% block content %} {% endblock %}
</body>

<footer class="footer">
    <div class="row rowFooter"id="rowFooter">
        <div class="col-2 border-end border-danger tryc border-3">
                <img class="qrcode ms-3 me-3" src="{% static 'IMG/qrcode.png' %}" >
            <div>
                <p class="me-1 text-vote">Ton avis compte ! Viens voter !</p>
            </div>
        </div>
        <div class="col-8 text-center d-flex colInfo">
            <div id="infoContainer" class="text-center infoContainer border-3">
                <p id="information" class="text-center information" style="font-size: 80px;"></p>
            </div>
        </div>
        <div class="col-2 border-start border-danger border-3">
            <img src="https://cdn.weatherapi.com/weather/64x64/night/143.png" class="widget">
            <div id="myClock" class="rounded-3 me-3 text-center clock"></div>
        </div>
    </div>
    <script src="{% static 'JS/clockApp.js' %}"></script>
    <script>
        showTime("myClock", false)
    </script>
    <script src="{% static 'JS/getInfos.js' %}"></script>
    <script src="{% static 'JS/weatherApp.js' %}"></script>
    <script src="{% static 'JS/anime.min.js' %}"></script>

</footer>
</html>