{% extends "Affichage/pageHeaderFooter.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/ecrans.css' %}">
    
    <div class="card m-4">
        <div class="container">
            <div class="row">
                <div class="title text-center">
                    <h1 class="fs-1">Menu</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <div class="title">
                            <h1 class="fs-2">Ce midi</h1>
                        </div>
                    </div>
                    <div id="midiList" class="">
                        <div class="title">
                            <h4 class="fs-4">Rien à afficher, peut être que plus tard nous aurons de quoi vous satisfaire !</h4>
                        </div>
                        <ul class="list"></ul>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <div class="row">
                        <div class="title">
                            <h1 class="fs-2">Ce soir</h1>
                        </div>
                    </div>
                    <div id="soirList">
                        <div class="title">
                            <h4 class="fs-4">Rien à afficher, peut être que plus tard nous aurons de quoi vous satisfaire !</h4>
                        </div>
                        <ul class="list">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'JS/getMenu.js' %}"></script>
    <script>

    </script>
{% endblock %}