{% block content %}
<style>
    .tweet {}

    .circle {
        border-radius: 100%;
        border: solid 1px rgba(255, 131, 4, 0.6);
        width:10vh;
        height:10vh;
        background-image: url(https://pbs.twimg.com/profile_images/961224496651886592/trk8l7uw_400x400.jpg);
        background-size: contain;
        margin: auto
    }

    .colored{
        color:rgba(255, 38, 4, 0.8);
    }
</style>
<div>
    <div id="tweets" class="card">
        <div class="title fw-bold" style="margin-bottom:10px; font-size: 5vh;">Le Twitter</div>
        
    </div>
</div>
<script>
function getTweets(){
    //Fonction récupérant les tweets depuis le serveur affichageDynamique
    fetch("/api/tweets")
        .then(data => {return data.json()})
        .then(response => {
            //Pour chaque tweet, jusqu'au max de tweet qu'on peut afficher
            for (let i = 0; i < {{max_tweets}}; i++){
                showTweet(response.data[i])
            }
        })
        .catch(err => {
            console.error(err)
        })
}

function parseDate(tweetDate){
    //Fonction renvoyant le temps entre maintenant et la date de création du tweet
    let date = new Date()

    //Différence entre les deux en milliseconds
    let difference = Math.abs(date - new Date(tweetDate))

    //Différence en secondes
    difference /= 1000
    //Variable contenant la différence + l'unité
    time = difference + " secondes"

    switch(true){ 
        //S'il y a plus que 24heures
        case difference > 60 * 60 * 24:
            time = Math.ceil(difference / 60 * 60 * 24) + " jours"
            break;

        //S'il y a plus que 60minutes
        case difference > 60 * 60:
            time = Math.ceil(difference / 60 * 60) + " heures"
            break;


        //S'il y a plus que 60secondes
        case difference > 60:
            time = Math.ceil(difference / 60) + " minutes"
            break;
    
        default:
            console.log("here")
            break;
    }

    return time
}

function parseText(text){
    /**
     * Fonction renvoyant le texte à afficher avec les @ et les liens en surbrillance
     * et le découpant à max 280 caractères
     * 
     * @param text {string} - texte à modifier
     */ 
    text = text.replace(/@([^ ]+)/g, '<span class="colored">@$1</span>');
    text = text.replace(/http([^ ]+)/g, '<span class="colored">http$1</span>');

    let newText = text.split("")

    //S'il est plus long que 280 caractères
    if (text.length > 280){
        newText = []
        //Pour les 280 caractères on ajoute le caractère à la liste newText
        for (let i = 0; i < 280; i++){
            newText.push(text[i])
        }

        newText.push("...")
        
    }
    //On reforme le text
    return newText = newText.join("")
}

function showTweet(tweet){
    //Fonction affichant un tweet à la fois à l'écran
    let tweetList = document.getElementById("tweets")

    let time = parseDate(tweet.created_at)    

    let text = parseText(tweet.text)

    tweets.innerHTML += `
        <div class="tweet row">
            <div class="col-3">
                <div class="circle">
                </div>
            </div>
            <div class="col-9">
                <div>
                    <span style="font-weight:bolder; font-size:2.7vh">LycéeBourdelle</span>
                    <small class="text-muted" style="font-size:1.9vh">Il y a ${time}</small>
                </div>
                
                <p class="lh-sm mt-1" style="font-weight: 500; font-size:2vh">${text}</p>
            </div>
        </div>
    `
}

getTweets()
setInterval(()=>{
    let tweetList = document.getElementById("tweets")
    for (let i = 1; i < tweetList.children.length; i++){
        tweetList.removeChild(tweetList.children[i])
    }
    getTweets()
}, 1000 * 20) //Mise à jour de l'écran toutes les 15mn

</script>
{% endblock %}