{% extends "Affichage/pageHeaderFooter.html" %}
{% load static %}
{% block content %}
  <div class="container-fluid p-4">
    {% include "./info.html" %}
    <div class="row">
        <div class="col-sm-8">
            <div id="article" hidden="true" class="card ms-3 me-3">
                <div class="card-body">
                    <h4 id="titreArticle" class="card-title" style="font-size: 2.5vw;"></h4>
                    <div>
                        <img id="imageArticle" src="{% static 'image.jpg'%}" width="32%" height="18%" style="float:left; margin-right: 20px;" >
                        <p id="contenuArticle" class="card-text" style="display: inline; font-size: 2vw;" ></p>
                    </div>
                </div>
            </div>
            <div id="pasArticle" class="card ms-3 me-3" style="font-size: 2.5vw;">
                <p>Bonjour Bourdelle !</p>
                </div>  
        </div>
        <div class="col-sm-4">
            <div id="tableProfsCachable" class="border rounded-3 p-3 mb-2 me-3 ms-2 " hidden="true">
                <table class="table">
                    <thead style="font-size: 1.7vw;">
                      <tr class="border">
                        <th scope="col">Professeur</th>
                        <th scope="col">Horaire d'absence</th>
                      </tr>
                    </thead>
                    <tbody id="tableProfs" style="font-size: 1.4vw;" >
                    </tbody>
                </table>
            </div>
            <p id="textePasAbsences" class="border rounded-3 p-3 me-3 ms-2" style="font-size : 2vw;"> Il n'y a aucun professeur absent aujourd'hui.</p>
            <div class="card ms-2 me-3" hidden="true" id="carteEvenement">
                <div class="card-body">
                    <h3 id="titreEvenement" class="card-title" style="font-size: 2.5vw;"></h3>
                    <p id="contenuEvenement" class="card-text" style="font-size: 2vw;"> </p>
                </div>
            </div>
        </div>
    </div>
  </div>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{% static 'JS/getArticles.js' %}"></script>
    <script src="{% static 'JS/getDisplay.js' %}"></script>
    <script src="{% static 'JS/getProfsAbsents.js' %}"></script>
    <script src="{% static 'JS/getEvenements.js' %}"></script>
{% endblock %}