{% extends "Affichage/pageHeaderFooter.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/viescolaire.css' %}">
<div class="container-fluid pt-2 ps-4 pe-4">
    <div class="row mt-0">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <div id="listeProfsCachable" hidden="true" class="card pb-3">
                        <p class="title fw-bold" style="font-size: 5vh;">Absences</p>
                        <div class="prof-list" id="prof-list">
                            <ul id="listeProfs" class="ms-3">
                            </ul>
                        </div>
                    </div>
                    <div id="textePasAbsences" class="card text-center">
                        <p style="font-size : 4vh;"> Il n'y a aucun professeur absent aujourd'hui.</p>
                    </div>
                    <div class="card ms-2 me-3" hidden="true" id="carteEvenement">
                        <div class="card">
                            <h3 id="titreEvenement" class="card-title" style="font-size: 2.5vh;"></h3>
                            <p id="contenuEvenement" class="card-text" style="font-size: 2vh;"> </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    {% include "./twitter.html" with max_tweets=1 %}
                </div>
            </div>
        </div>
        <div class="col-8">
            <div id="article" hidden="true" class="card">
                <div>
                    <div id="pageNumber" class="circled me-1 mt-1">
                    </div>
                    <h4 id="titreArticle" class="title fw-bold" style="font-size: 5vh;"></h4>
                </div>
                <div class="article-content" id="article-content">
                    <img id="imageArticle" width="320vh" height="180vh" class="rounded-3" style="float:left; margin-right: 20px;" >
                    <p id="textArticle" class="text-break" ></p>
                </div>
            </div>
            <div id="pasArticle" class="card ms-3 me-3" style="font-size: 2.5vw;">
                <h4 class="title bonjour fw-bold">Bonjour !</h4>
                <p class="text-center content-no-article"><span id="text-no-article"></span><span id="text-meteo"></span></p>
                <p class="text-center content-no-article">Rien que pour vous, les prévisions météo des 6 prochaines heures :</p>
                {% include "./meteoBar.html" %}
                </div>
        </div>
        <div class="row">
            <div class="col-8 agenda" hidden=true id="agenda">
                <div class="agenda-titre">
                    <div class="parallelograme-titre"></div>
                    <div class="texte-titre text-center">Agenda</div>
                </div>
                <div class="liste-date" id="liste-date">
                    <div class="date-premiere" id="date-first">
                        <div class="barre-droite"></div>
                        <div class="parallelograme-date"></div>
                        <p class="texte-date fw-bold text-nowrap" id="date-0"></p>
                    </div>
                    <div class="date" id="date-second">
                        <div class="barre-droite"></div>
                        <div class="parallelograme-date"></div>
                        <p class="texte-date fw-bold text-nowrap" id="date-1"></p>
                    </div>
                    <div class="date" id="date-third">
                        <div class="barre-droite"></div>
                        <div class="parallelograme-date"></div>
                        <p class="texte-date fw-bold text-nowrap" id="date-2"></p>
                    </div>
                </div>
                <div class="fleche">
                    <div class="fleche-ligne"></div>
                    <p class="fleche-tete"></p>
                </div>
                <div class="liste-evenement" id="liste-evenement">
                    <div class="evenement-premier" id="ev-first">
                        <div class="barre-oblique"></div>
                        <div class="cercle"></div>
                        <div class="parallelograme-evenement"  id="container-evenement"></div>
                        <div class="texte-evenement fw-bold text-center">
                            <p id="ev-0"></p>
                        </div>
                    </div>
                    <div class="evenement" id="ev-second">
                        <div class="barre-oblique"></div>
                        <div class="cercle"></div>
                        <div class="parallelograme-evenement"></div>
                        <div class="texte-evenement fw-bold text-center">
                            <p id="ev-1"></p>
                        </div>
                    </div>
                    <div class="evenement" id="ev-third">
                        <div class="barre-oblique"></div>
                        <div class="cercle"></div>
                        <div class="parallelograme-evenement"></div>
                        <div class="texte-evenement fw-bold text-center">
                            <p id="ev-2"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{% static 'JS/getArticles.js' %}"></script>
    <script src="{% static 'JS/getEvenements.js' %}"></script>
    <script src="{% static 'JS/getProfsAbsents.js' %}"></script>
    </div>
</div>
{% endblock %}