{% extends '../../base.html' %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block content %}
<div class="row p-3">
    <p class="fs-1 align-middle">Modifier l'information</p>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="clickable">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/parametres" class="clickable">Paramètres</a></li>
            <li class="breadcrumb-item"><a href="/parametres/informations" class="clickable">Informations</a></li>
            <li class="breadcrumb-item active" aria-current="Modifier une information" class="clickable">Modifier une information</li>
        </ol>
    </nav>
</div>
<div class="row">
    {% include './form.html' with informations=informations%}
</div>
{% endblock content %}