{%extends '../base.html'%}

{%block title%}{{pageTitle}}{%endblock title%}

{%block content%}
<div class="row p-3">
    <p class="fs-1 align-middle">Ajouter un compte</p>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="clickable">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/comptes" class="clickable">Comptes</a></li>
            <li class="breadcrumb-item active" aria-current="Ajouter" class="clickable">Ajouter</li>
        </ol>
    </nav>
</div>
<div class="row p-3 ">
    <div class="border rounded-3 m-3 mb-5 px-3">
        <form id="formulaire" action="#" method="post">
            {% csrf_token %}
            <div class="form-group my-3">
                <div class="input-group">
                    <input 
                        id="nomInput"
                        name="last_name"
                        type="text" 
                        placeholder="Nom"
                        class="form-control mx-2" 
                        aria-describedby="AideNom" 
                        maxlength="30"
                        value="{{informations.nom}}"
                        required
                    >
                    <input 
                        id="prenomInput"
                        name="first_name"
                        type="text" 
                        placeholder="Prenom"
                        class="form-control mx-2" 
                        aria-describedby="AidePrenom" 
                        maxlength="30"
                        value="{{informations.prenom}}"
                        required
                    >
                </div>
            </div>
            <div class="form-group my-3">
                <label for="typeInformation">Type de compte</label>
                {{ form.groups }}
            </div>
            <div class="form-group">
                <small id="identifiant" class="form-text text-muted">L'identifiant du compte est : prenom.nom</small>
                <input type="text" id="username" name="username" hidden>
            </div>
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-lg-2 btn-group"> 
                        <button id="sendShow" type="submit" class="btn btn-primary"
                            data-bs-toggle="tooltip" data-bs-html="true" title="En créant l'utilisateur, aucune information n'est encore connue. Pour rentrer ses informations, dont son mot de passe, l'utilisateur doit se connecter une première fois sur ce site avec l'identifiant donné.">
                            Créer l'utilisateur !
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    (window.addEventListener("DOMContentLoaded",() => {
        document.getElementById('nomInput').addEventListener('input', () => {createID()})
        document.getElementById('prenomInput').addEventListener('input', () => {createID()})
    }))

    function createID(){
        let nom = document.getElementById('nomInput').value.toLowerCase()
        let prenom = document.getElementById('prenomInput').value.toLowerCase()
        let id = prenom + "." + nom

        id = id.split(" ").join("_")

        document.getElementById('identifiant').innerText = "L'identifiant du compte est : " + id
        document.getElementById('username').value = id
        console.log(document.getElementById('username'))
    }
</script>
{%endblock content%}